.App {
  text-align: center;
  background-color: lightcyan;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn-primary {
  background-color: #36b3a8 !important;
  border-color: #36b3a8 !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-control:focus {
  border-width: 2px !important;
  box-shadow: none !important;
}

.no-underline {
  text-decoration: none;
}

button.no-underline:hover {
  text-decoration: none;
}